<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/estilo.css' %}" />
        <title>Tarea2</title>
    </head>
    <body>
        <h1>Tuve fe</h1><br>
        {{ lista }}
        
        <br><br>
        <img src="{% static 'images/img1.jpg' %}" alt="tqm cod zombies <3" width="200px"/><br>
        <img src="{% static 'images/img2.jpg' %}" alt="tuve fe" width="200px"/><br>
        <img src="{% static 'images/img3.webp' %}" alt="may the 4th be with you" width="200px"/>
    </body>
</html>